
    <!-- Inner Page Layout -->
    <section class="content">
        <div class="content-title">
            <div class="content-title-inner">
                <h1>Events</h1>
                <p>Checkout our latest events and news</p>

                <div class="content-title-pagniation">
                    <a href="#"><i class="fas fa-home"></i> Home</a>
                    <i class="fas fa-home"></i>
                    <a href="#"><i class="fas fa-rss-square"></i> News & Events</a>
                </div>
            </div>
        </div>
        <div class="content-inner">
            
        </div>
    </section>
    <!-- /Inner Page Layout -->
